@import "tailwindcss";

.cl-internal-1dauvpw{
    display: none;
}

.cl-internal-l2l775{
    display: none;
}

@keyframes fadeIn {
  from { opacity: 0 }
  to { opacity: 1 }
}
.animate-fadeIn { animation: fadeIn .15s ease-out }

@keyframes scaleIn {
  from { opacity: 0; transform: scale(.92) }
  to { opacity: 1; transform: scale(1) }
}
.animate-scaleIn { animation: scaleIn .18s ease-out }

* {
  scrollbar-width: thin;
  scrollbar-color: #17314d #0a1624;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #0a1624; /* Dark navy track */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #1e3b63, #2d67b8);
  border-radius: 10px;
  border: 1px solid #0a1624;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #2d67b8, #3b7ee5);
}

.custom-scroll::-webkit-scrollbar {
  width: 6px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
  margin: 4px; /* adds space top & bottom */
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #1f3a5f;
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #2d67b8;
}
